@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.box {
  background-color: rgb(138, 170, 160);
  aspect-ratio: 1/1;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 2px rgba(31, 30, 30, 0.712));
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85px;
  width: 85px;
  padding: 5px;
  aspect-ratio: 1/1;
}

.grid-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 999;
  cursor: no-drop;
}
